{% extends "base.html.twig" %}
{% block body %}
    <form action="" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username"  />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />



        <button type="submit">login</button>
        <button type="submit">Enregister</button>
    </form>

{% endblock %}